.vouch-label {
  font-weight: normal !important;
  padding: 2px 6px !important;
  margin: 0 !important;
  border-radius: 4px;
  line-height: 16px;
  white-space: nowrap;
  display: flex !important;
  align-items: center;
}

.vouch-label:hover {
  filter: brightness(1.6);
}

.vouch-hovered-label {
  filter: brightness(1.6);
}
